<form action="/addpost" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Post id</label>
      <input type="text" class="form-control" name="postid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter post id">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>