<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard | Campus Ambassador'21</title>

    <link rel="stylesheet" href="./assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="./assets/vendors/css/vendor.bundle.base.css">

    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="./assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="./assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="./assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->

    <!-- Layout styles -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="./assets/images/wiss.ico" />

    <style>
      h1{
        font-size: 2rem;
      }
      p{
        line-height: 2;
      }
      .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 35px;
}
.wpb_wrapper {
    position: relative;
    width: 100%;
}
.wpb_wrapper .wpb_accordion .wpb_accordion_section {
    background: #222;
}
.wpb_wrapper .wpb_accordion .wpb_accordion_section {
    background-color: #eee;
    padding: 15px 20px;
    margin-top: 0;
    margin-bottom: 1px;
}
.wpb_wrapper .wpb_accordion .wpb_accordion_section .wpb_accordion_header {
    background: 0 0;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
    margin: 0 0 1px 0;
    padding-top: 0;
    position: relative;
    text-transform: none;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header, .wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
    background-color: #f7f7f7;
}
h1, .h1, .page-heading h1, h2, .h2, .page-heading h2, h3, .h3, .page-heading h3, h4, .h4, .page-heading h4, h5, .h5, .page-heading h5, h6, .h6, .page-heading h6 {
    font-family: 'Karla';
    font-weight: 400;
}
.h3, h3 {
    font-size: 26px;
}
.wpb_wrapper .wpb_accordion .wpb_accordion_section .wpb_accordion_header .ui-accordion-header-icon {
    position: relative;
    top: 0;
    right: 0;
    float: left;
    width: 28px;
    height: auto;
    background: 0 0;
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon, .wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../images/toggle_open.png);
    background-repeat: no-repeat;
    position: absolute;
    right: .7em;
    top: .7em;
}
.wpb_wrapper .wpb_accordion .wpb_accordion_section .wpb_accordion_header a {
    color: #fff;
}
.wpb_wrapper .wpb_accordion .wpb_accordion_section .wpb_accordion_header a {
    color: #444;
    padding: 0;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a {
    padding-left: 1em;
}
.wpb_content_element .wpb_accordion_header a, .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a {
    border-bottom: none;
    text-decoration: none;
    display: block;
    padding: .5em 1em;
}
.site-footer a, .wrapper a {
    position: relative;
    display: inline-block;
}
.wpb_wrapper .wpb_accordion .wpb_accordion_section .wpb_accordion_content {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content, .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab {
    padding: 1em;
}
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content .wpb_row:last-child>div>div.wpb_wrapper .wpb_content_element:last-child, .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content>.wpb_content_element:last-child, .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab .wpb_row:last-child>div>div.wpb_wrapper .wpb_content_element:last-child, .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab>.wpb_content_element:last-child {
    margin-bottom: 0;
}
.entry-content .twitter-share-button, .fb_like, .twitter-share-button, .wpb_accordion .wpb_content_element, .wpb_googleplus, .wpb_pinterest, .wpb_tab .wpb_content_element {
    margin-bottom: 21.73913043px;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 35px;
}
#content .wpb_alert p:last-child, #content .wpb_text_column :last-child, #content .wpb_text_column p:last-child, .wpb_alert p:last-child, .wpb_text_column :last-child, .wpb_text_column p:last-child {
    margin-bottom: 0;
}
.wpb_wrapper {
    position: relative;
    width: 100%;
}

    </style>
  </head>
  <body>
    <div class="container-scroller">
      <!-- sidebar -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="/home"><img src="./assets/images/logo.png" alt="logo" /></a>
        </div>
        <ul class="nav">
            
            <li class="nav-item menu-items">
                <a class="nav-link" href="/home">
                  <span class="menu-icon">
                    <i class="mdi mdi-airplane-takeoff"></i>
                  </span>
                  <span class="menu-title">DASHBOARD</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/fbshare">
                  <span class="menu-icon">
                    <i class="mdi mdi-account-multiple-plus"></i>
                  </span>
                  <span class="menu-title">FACEBOOK SHARE</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/ideate">
                  <span class="menu-icon">
                    <i class="mdi mdi-led-on"></i>
                  </span>
                  <span class="menu-title">IDEATE</span>
                </a>
            </li>
            <li class="nav-item menu-items">
              <a class="nav-link" href="/sharecon">
                <span class="menu-icon">
                  <i class="mdi mdi-share-variant"></i>
                </span>
                <span class="menu-title">SHARE CONTACT</span>
              </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/leaderboard">
                  <span class="menu-icon">
                    <i class="mdi mdi-star-circle"></i>
                  </span>
                  <span class="menu-title">LEADERBOARD</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/profile">
                  <span class="menu-icon">
                    <i class="mdi mdi-account-circle"></i>
                  </span>
                  <span class="menu-title">MY PROFILE</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/contact">
                  <span class="menu-icon">
                    <i class="mdi mdi-forum"></i>
                  </span>
                  <span class="menu-title">CONTACT US</span>
                </a>
            </li>
        </ul>
      </nav>
      <!-- top -->
      <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center" style="width: auto;">
            <a class="navbar-brand" href="/home"><img src="./assets/images/logo-mini.ico" height="42px" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-row d-flex align-items-stretch">
            

            <!-- top nav -->
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src='<%= participant.photo %>' alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">&nbsp;<%= participant.name %>&nbsp;</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <a class="dropdown-item preview-item" href="/profile">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Profile</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="/logout">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
            </ul>
            <!-- top nav -->
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- top -->
        <div class="main-panel">
          <div class="content-wrapper">





            <div class="wpb_accordion wpb_content_element  not-column-inherit" data-collapsible="" data-vc-disable-keydown="false" data-active-tab="1">
              <div class="wpb_wrapper wpb_accordion_wrapper ui-accordion ui-widget ui-helper-reset" role="tablist">
          
                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-collapsed ui-corner-all" role="tab" id="ui-id-7" aria-controls="ui-id-8" aria-selected="false" aria-expanded="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#section-1" class="">Section 1</a></h3>
                  <div class="wpb_accordion_content ui-accordion-content vc_clearfix ui-corner-bottom ui-helper-reset ui-widget-content" style="display: none;" id="ui-id-8" aria-labelledby="ui-id-7" role="tabpanel" aria-hidden="true">
                    
                    <div class="wpb_text_column wpb_content_element  post-formatting ">
                      <div class="wpb_wrapper">
                        <p>Death there mirth way the noisy merit. Piqued shy spring nor six though mutual living ask extent. Replying of dashwood advanced ladyship smallest disposal or. Attempt offices own improve now see. Called person are around county talked her esteem. Those fully these way nay thing seems.</p>
                        <p>Up am intention on dependent questions oh elsewhere september. No betrayed pleasure possible jointure we in throwing. And can event rapid any shall woman green. Hope they dear who its bred. Smiling nothing affixed he carried it clothes calling he no. Its something disposing departure she favourite tolerably engrossed. Truth short folly court why she their balls. Excellence put unaffected reasonable mrs introduced conviction she. Nay particular delightful but unpleasant for uncommonly who.</p>
                  
                      </div>
                    </div>
              
                  </div>
                </div>
              
                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active" role="tab" id="ui-id-9" aria-controls="ui-id-10" aria-selected="true" aria-expanded="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><a href="#section-2" class="">Section 2</a></h3>
                  <div class="wpb_accordion_content ui-accordion-content vc_clearfix ui-corner-bottom ui-helper-reset ui-widget-content ui-accordion-content-active" id="ui-id-10" aria-labelledby="ui-id-9" role="tabpanel" aria-hidden="false">
                    
                    <div class="wpb_single_image wpb_content_element vc_align_left">
                      
                      <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://demokaliumsites-laborator.netdna-ssl.com/main-dark/wp-content/uploads/2015/03/yes_061_cast_iron_birds_5-1340x785-900x300.jpg" width="900" height="300" alt="yes_061_cast_iron_birds_5-1340x785" title="yes_061_cast_iron_birds_5-1340x785"></div>
                      </figure>
                    </div>
              
                  </div>
                </div>
              
                <div class="wpb_accordion_section group">
                  <h3 class="wpb_accordion_header ui-accordion-header ui-corner-top ui-state-default ui-accordion-icons ui-accordion-header-collapsed ui-corner-all" role="tab" id="ui-id-11" aria-controls="ui-id-12" aria-selected="false" aria-expanded="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#section-3" class="">Section 3</a></h3>
                  <div class="wpb_accordion_content ui-accordion-content vc_clearfix ui-corner-bottom ui-helper-reset ui-widget-content" style="display: none;" id="ui-id-12" aria-labelledby="ui-id-11" role="tabpanel" aria-hidden="true">
                        
                    <div class="wpb_text_column wpb_content_element  post-formatting ">
                      <div class="wpb_wrapper">
                        <p>Of be talent me answer do relied. Mistress in on so laughing throwing endeavor occasion welcomed. Gravity sir brandon calling can. No years do widow house delay stand. Prospect six kindness use steepest new ask. High gone kind calm call as ever is. Introduced melancholy estimating motionless on up as do. Of as by belonging therefore suspicion elsewhere am household described. Domestic suitable bachelor for landlord fat.</p>
                  <p>Consulted he eagerness unfeeling deficient existence of. Calling nothing end fertile for venture way boy. Esteem spirit temper too say adieus who direct esteem. It esteems luckily mr or picture placing drawing no. Apartments frequently or motionless on reasonable projecting expression. Way mrs end gave tall walk fact bed.</p>
                  <p>Detract yet delight written farther his general. If in so bred at dare rose lose good. Feel and make two real miss use easy. Celebrated delightful an especially increasing instrument am. Indulgence contrasted sufficient to unpleasant in in insensible favourable. Latter remark hunted enough vulgar say man. Sitting hearted on it without me.</p>
                  <p>You disposal strongly quitting his endeavor two settling him. Manners ham him hearted hundred expense. Get open game him what hour more part. Adapted as smiling of females oh me journey exposed concern. Met come add cold calm rose mile what. Tiled manor court at built by place fanny. Discretion at be an so decisively especially. Exeter itself object matter if on mr in.</p>
                  <p>Its had resolving otherwise she contented therefore. Afford relied warmth out sir hearts sister use garden. Men day warmth formed admire former simple. Humanity declared vicinity continue supplied no an. He hastened am no property exercise of. Dissimilar comparison no terminated devonshire no literature on. Say most yet head room such just easy.</p>
                  
                      </div>
                    </div>
                  
                  </div>
                </div>
          
              </div>
            </div>




           
          </div>
          <!-- content-wrapper ends -->
          <!-- footer -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Designed by <a href="" target="_blank">Team Wissenaire'21</a></span>
            </div>
          </footer>
          <!-- footer -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="./assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="./assets/vendors/chart.js/Chart.min.js"></script>
    <script src="./assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="./assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="./assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="./assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="./assets/js/off-canvas.js"></script>
    <script src="./assets/js/hoverable-collapse.js"></script>
    <script src="./assets/js/misc.js"></script>
    <script src="./assets/js/settings.js"></script>
    <script src="./assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="./assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>