<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Campus Ambassador | Wissenaire'21</title>
    <link rel="icon" href="wiss.png" type="image/x-icon">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="./stylesheets/base.css">
    <link rel="stylesheet" href="./stylesheets/vendor.css">
    <link rel="stylesheet" href="./stylesheets/main.css">
     <link rel="stylesheet" href="./styleshests/button.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
     <!--<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">-->
    
    <!-- script
    ================================================== -->
    <script src="./javascripts/modernizr.js"></script>
    <script src="./javascripts/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <link rel="icon" href="./images/favicon.png" type="image/x-icon">
    <style>
        
    </style>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v9.0&appId=1874655192687215&autoLogAppEvents=1" nonce="vtY4P3wx"></script>
    <!-- home
    ================================================== -->
    <main class="s-home s-home--particles">

        <div id="particles-js" class="home-particles"></div>

        <div class="gradient-overlay"></div>

        <div class="home-content" style="padding-top:4rem;">




            <div>

                <div class="col-twelve home-content__text">
                    <center>
                        <img width="60%" height="60%" src="./images/home.png">
                <div  style="margin-top:50px;">
                    <h1 style="font-weight:unset">
                        CAMPUS
                        AMBASSADOR<br>
                        PROGRAM
                    </h1>





                  </div>
                  <div class="home-content__subscribe">
                    
                    
                    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true" style="text-align: center; display: block; margin: auto;" onlogin="checkLoginState();"></div>



                  </div>
                    </center>




                </div>  <!-- end home-content__text -->
  <!-- end home-content__counter -->
    <div class="row home-copyright" style="position: absolute; bottom: 2vh; margin-left: 75%; color:#fff ;">
        <span>Developed by <a style="color: gold;">Team Wissenaire’21</a></span>
    </div>

            </div>  <!-- end home-content__main -->

            <ul class="home-social d-none d-md-block">
                <li>
                <a href="#0"><i class="fas fa-users one"></i><span>AboutUs</span></a>
                </li>
                <li>
                <a href="#0"><i class="fas fa-question-circle two" style="color:white;"></i><span>Why?</span></a>
                </li>
                <li>
                <a href="#0"><i class="fas fa-user-edit three" aria-hidden="true"></i><span>Responsibilities</span></a>
                </li>
                <li>
                <a href="#0"><i class="fas fa-award four" aria-hidden="true"></i><span>Benefits</span></a>
                </li>
                <li>
                <a href="#0"><i class="fas fa-user-check five" aria-hidden="true"></i><span>Eligibility</span></a>
                </li>
            </ul> <!-- end home-social -->
            
            <ul class="home-social d-block d-md-none" style="width:100vw; padding-left:2.5rem;">
                <li style="display: inline-block; padding-left:1.5rem; ">
                <a href="#0"><i class="fas fa-users one"></i><span>AboutUs</span></a>
                </li>
                <li style="display: inline-block; padding-left:1.5rem;">
                <a href="#0"><i class="fas fa-question-circle two" style="color:white;"></i><span>Why?</span></a>
                </li>
                <li style="display: inline-block; padding-left:1.5rem;">
                <a href="#0"><i class="fas fa-user-edit three" aria-hidden="true"></i><span>Responsibilities</span></a>
                </li>
                <li style="display: inline-block; padding-left:1.5rem;">
                <a href="#0"><i class="fas fa-award four" aria-hidden="true"></i><span>Benefits</span></a>
                </li>
                <li style="display: inline-block; padding-left:1.5rem;">
                <a href="#0"><i class="fas fa-user-check five" aria-hidden="true"></i><span>Eligibility</span></a>
                </li>
            </ul> <!-- end home-social -->


            <div class="home-content__line"></div>

        </div> <!-- end home-content -->

    </main> <!-- end s-home -->


    <!-- info
    ================================================== -->
    <a class="info-toggle" href="#0">
        <span class="info-menu-icon"></span>
    </a>

    <div class="s-info">

        <div class="row info-wrapper cityone">

            <div class="col-seven tab-full info-main">
                <h1>About Us</h1>
                <p>‘Wissenaire is the Annual Techno-Management Fest of Indian Institute of Technology Bhubaneswar’.
                    Being one of the most awaited Fests in Eastern India, it’s a Technical extravaganza encompassing a multitude of events in the Scientific,
                    Technical and Managerial domains with a well-rounded collection of Competitions,
                    Workshops, Exhibitions, Star Nites, Quizzes, Colloquia,
                    Lectures to inspire Youth to embark on a journey of technical excellence,
                    creativity and innovation.
                </p>
           
            </div>

            <div class="col-four tab-full pull-right info-contact">

                 <div class="info-block">
                    <h3>Contact Us</h3>
                    <p>
                    	Abhinav Reddy<br>
                        <a href="mailto:sar10@iitbbs.ac.in" class="info-email"><i class="fas fa-envelope"></i>&nbsp;&nbsp;sar10@iitbbs.ac.in</a><br>
                        <a href="tel:+91 8688020904" class="'info-phone"><i class="fas fa-phone"></i>&nbsp;&nbsp;+91 8688020904</a>
                    </p>

                    <p>
                    	Vivek Sadineni<br>
                        <a href="mailto:sv21@iitbbs.ac.in" class="info-email"><i class="fas fa-envelope"></i>&nbsp;&nbsp;sv21@iitbbs.ac.in</a><br>
                        <a href="tel:+91 7337094987" class="'info-phone"><i class="fas fa-phone"></i>&nbsp;&nbsp;+91 7337094987</a>
                    </p>
                </div>

                <div class="info-block">
                    
                </div>

            </div>  <!-- end info contact -->

        </div>  <!-- end info wrapper -->

        <div class="row info-wrapper citytwo">

            <div class="col-seven tab-full info-main">
                <h1>Why become a CA?</h1>
                <p>•	It is a great opportunity for students looking to improve your managerial and communication skill set.<br>
                    •	It will help you in increasing your contacts with people coming from diverse fields across the country and in developing your network.<br> 
                    •	It is a rare chance of exposure to thousands of young minds and eminent personalities. <br>
                    •	Enhance your leadership skills by becoming the face of your college.
                    </p>
            </div>

            <div class="col-four tab-full pull-right info-contact">

                <div class="info-block">
                    <h3>Contact Us</h3>
                    <p>
                    	Abhinav Reddy<br>
                        <a href="mailto:sar10@iitbbs.ac.in" class="info-email"><i class="fas fa-envelope"></i>&nbsp;&nbsp;sar10@iitbbs.ac.in</a><br>
                        <a href="tel:+91 8688020904" class="'info-phone"><i class="fas fa-phone"></i>&nbsp;&nbsp;+91 8688020904</a>
                    </p>

                    <p>
                    	Vivek Sadineni<br>
                        <a href="mailto:sv21@iitbbs.ac.in" class="info-email"><i class="fas fa-envelope"></i>&nbsp;&nbsp;sv21@iitbbs.ac.in</a><br>
                        <a href="tel:+91 7337094987" class="'info-phone"><i class="fas fa-phone"></i>&nbsp;&nbsp;+91 7337094987</a>
                    </p>
                </div>

                <div class="info-block">
                   
                </div>

            </div>  <!-- end info contact -->

        </div>  <!-- end info wrapper -->
        <div class="row info-wrapper citythree">

            <div class="col-seven tab-full info-main">
                <h1>What should a CA do?</h1>
                <p>•	Sharing the Facebook posts on your timelines and your college facebook and mail groups.<br>
                    •	Publicizing events and workshops of WISSENAIRE in your respective colleges.<br>
                    •	To strive to bring maximum participation from your respective colleges.<br>
                    •	Being the representative of the college act as a medium for effective communication between the Wissenaire team and your college.
                    </p>
            </div>

            <div class="col-four tab-full pull-right info-contact">

                <div class="info-block">
                    <h3>Contact Us</h3>
                    <p>
                    	Abhinav Reddy<br>
                        <a href="mailto:sar10@iitbbs.ac.in" class="info-email"><i class="fas fa-envelope"></i>&nbsp;&nbsp;sar10@iitbbs.ac.in</a><br>
                        <a href="tel:+91 8688020904" class="'info-phone"><i class="fas fa-phone"></i>&nbsp;&nbsp;+91 8688020904</a>
                    </p>

                    <p>
                    	Vivek Sadineni<br>
                        <a href="mailto:sv21@iitbbs.ac.in" class="info-email"><i class="fas fa-envelope"></i>&nbsp;&nbsp;sv21@iitbbs.ac.in</a><br>
                        <a href="tel:+91 7337094987" class="'info-phone"><i class="fas fa-phone"></i>&nbsp;&nbsp;+91 7337094987</a>
                    </p>
                </div>

                <div class="info-block">
                    
                </div>

            </div>  <!-- end info contact -->

        </div>  <!-- end info wrapper -->
        <div class="row info-wrapper cityfour">

            <div class="col-seven tab-full info-main">
                <h1>What benefits does a CA get?</h1>
                <p>As a CA of Wissenaire’21, 
                You will get a chance to work with the team of Wissenaire’21 and to witness your work, yielding amazing results.
                    CA’s will be awarded with points according to the number of participants registered,
                    number of CA’s registered citing one’s ID in reference, online activities like sharing and liking the Wissenaire
                    Facebook posts. (share our fb post -10, for each participant registered using CA referral Id-30, for each CA registered using another CA referral Id-15, share an idea - 50, share a contact - 50 )<br><br>
                    They will be further ranked according to the points gained and classified into three categories as follows<br>
                    •	Rank 1-10: Diamond CA’s<br>
                    •	Rank 11-40: Gold CA’s<br>
                    •	Rank 41-100: Silver CA’s<br><br>
                    The Prizes or benefits for different classes of CA’s are<br>
                    •	Diamond CA’s: T-shirt + Free Registration for any 1 event + Hospitality (excluding food) + 2 VIP passes for concert + Momento from Wissenaire + Photos of CA will be displayed in the website and social media + Certificate (Diamond) from Wissenaire.<br>
                    •	Gold CA’s: T shirt + One’s name will be mentioned in the website and social media + Certificate (Gold) from Wissenaire.<br>
                    •	Silver CA’s: T shirt + Certificate (Silver) from Wissenaire.<br>
                    </p>     
           
            </div>

            <div class="col-four tab-full pull-right info-contact">

                <div class="info-block">
                    <h3>Contact Us</h3>
                    <p>
                    	Abhinav Reddy<br>
                        <a href="mailto:sar10@iitbbs.ac.in" class="info-email"><i class="fas fa-envelope"></i>&nbsp;&nbsp;sar10@iitbbs.ac.in</a><br>
                        <a href="tel:+91 8688020904" class="'info-phone"><i class="fas fa-phone"></i>&nbsp;&nbsp;+91 8688020904</a>
                    </p>

                    <p>
                    	Vivek Sadineni<br>
                        <a href="mailto:sv21@iitbbs.ac.in" class="info-email"><i class="fas fa-envelope"></i>&nbsp;&nbsp;sv21@iitbbs.ac.in</a><br>
                        <a href="tel:+91 7337094987" class="'info-phone"><i class="fas fa-phone"></i>&nbsp;&nbsp;+91 7337094987</a>
                    </p>
                </div>

                <div class="info-block">
                    
                </div>

            </div>  <!-- end info contact -->

        </div>  <!-- end info wrapper -->
        <div class="row info-wrapper cityfive">

            <div class="col-seven tab-full info-main">
                <h1>Who can become CA?</h1>
               <p>Students having an unlimited source of enthusiasm and creativity, and the will to be the difference maker can become a CA.
               Students enrolled in any college and in any year can apply. 
               So, what are you waiting for, let's get started. </p>
            </div>

            <div class="col-four tab-full pull-right info-contact">

                <div class="info-block">
                    <h3>Contact Us</h3>
                    <p>
                    	Abhinav Reddy<br>
                        <a href="mailto:sar10@iitbbs.ac.in" class="info-email"><i class="fas fa-envelope"></i>&nbsp;&nbsp;sar10@iitbbs.ac.in</a><br>
                        <a href="tel:+91 8688020904" class="'info-phone"><i class="fas fa-phone"></i>&nbsp;&nbsp;+91 8688020904</a>
                    </p>

                    <p>
                    	Vivek Sadineni<br>
                        <a href="mailto:sv21@iitbbs.ac.in" class="info-email"><i class="fas fa-envelope"></i>&nbsp;&nbsp;sv21@iitbbs.ac.in</a><br>
                        <a href="tel:+91 7337094987" class="'info-phone"><i class="fas fa-phone"></i>&nbsp;&nbsp;+91 7337094987</a>
                    </p>
                </div>

                <div class="info-block">
                    
                </div>

            </div>  <!-- end info contact -->

        </div>  <!-- end info wrapper -->
        
    </div> <!-- end s-info -->
    <div class="row home-copyright" style="padding: 0px;">
        <span>Developed by <a>Web and Design Team</a></span>
    </div>

    <div id="preloader">
    	<div id="loader"></div> 
   </div>


    <!-- Java Script
    ================================================== -->
    <script src="./javascripts/jquery-3.2.1.min.js"></script>
    <script src="./javascripts/plugins.js"></script>
    <script src="./javascripts/polygons.js"></script>
    <script src="./javascripts/main.js"></script>
    <script>
        function checkLoginState() {
            window.location = '/auth/facebook';
        }
    </script>
</body>

</html>
