* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
  background-color: black;  
}

nav {
    overflow: hidden;
    position: relative;
    transform: translateX(-300px);
    height: 100%;
    width: 350px;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 0% 100% 50%;
}

nav.nav-open {
    transform: translateX(0px);
    border-radius: 0% 0% 0% 0%;
   background: rgba(0, 0, 0, 1);
}

 .menu-btn {
    position: absolute;
    top: 10%;
    left: 3%;
    padding: 0;
    width: 30px;
    cursor: pointer;
    z-index: 2;
}

 .menu-btn .line {
    padding: 0;
    width: 30px;
    background: #fff;
    height: 2px;
    margin: 5px 0;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

 .menu-btn .line.line--1 {
    width: 30px;
    transform: rotate(0) translateY(0);
}

 .menu-btn .line.line--1.line-cross {
    width: 30px;
    transform: rotate(45deg) translateY(10px);
   /* background: rgba(0,0,0,0.6); */
}

.menu-btn .line.line--2 {
    width: 28px;
    transform: translateX(0);
}

 .menu-btn .line.line--2.line-fade-out {
    width: 28px;
    transform: translate(30px);
    opacity: 0;
}

 .menu-btn .line.line--3 {
    width: 20px;
    transform: rotate(0) translateY(0);
}

 .menu-btn .line.line--3.line-cross {
    width: 30px;
    transform: rotate(-45deg) translateY(-10px);
   /* background: rgba(0,0,0,0.6); */
}

nav .nav-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

nav .nav-links .link {
    
    margin: 20px 0;
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links .link:hover {
    color: #07617D;
}


.inform{
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.support{
  position: absolute;
  left:38%;
  bottom: 30%;
  padding: 10px;
  display: flex;
}
a{
  margin: 0 20px;
  color: #fff;
  font-size: 2rem;
  transition: all 400ms ease;
}

a:hover{
  color: #222;
}

@media screen and (max-width: 425px) {
  nav {
    width: 100vw;

  }
}

@media screen and (max-width: 768px) {
  .support {
    position: absolute;
    left: 30%;
  }
}
@media screen and (max-width: 425px) {
  .support {
    position: absolute;
    left: 13%;
    z-index: -10;
  }
}

@media screen and (max-width: 320px) {
  .support {
    position: absolute;
    left: 5%;
  }
}